$mainColor:#00a8a1 !default;
$bold:'NSG B';
$medium:'NSG M';
$light:'NSG L';

html {
    height: 100%;
    font-size: 16px;
}

body {
    height: 100%;
    background: #fff;
    font-family: 'NSG R';
    color: #333;
}

#wrap {
    position: relative;
    width: 100%;
    height: 100%;
}

header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;

    .header_inner {
        position: relative;
        margin: 0 auto;
        padding: 20px 60px;
        box-sizing: border-box;

        .logo {
            float: left;
            width: 48px;
            height: 48px;
            margin: 0;
            padding: 0;

            a {
                display: block;
                width: 48px;
                height: 48px;
                background: url('../../img/common/logo.png') no-repeat;
                background-position: center;
                background-size: cover;
            }

        }

        &:after {
            content: '';
            clear: both;
            display: block;
        }

        .text_logo {
            display:none;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        #gnb_btn {
            position: absolute;
            right: 60px;
            width: 45px;
            height: 50px;
            z-index: 1000;

            span {
                position: absolute;
                display: block;
                width: 100%;
                height: 2px;
                background-color: $mainColor;
                transition: 0.5s;

                &:nth-child(1) {
                    top: 10px;
                }

                &:nth-child(2) {
                    top: 50%;
                }

                &:nth-child(3) {
                    bottom: 10px;
                }
            }
        }

        #gnb_btn.open {
            span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: 50%;
                }

                &:nth-child(2) {
                    display: none;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: 50%;
                }
            }
        }

        nav {
            position: fixed;
            top: -100%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            background: #e5f6f5;
            transition: 0.3s;

            .nav_inner {
                .gnb {
                    li {
                        display: block;
                        text-align: center;
                        width: 100%;

                        a {
                            position: relative;
                            font-size: 3rem;
                            color: $mainColor;
                            font-family: $bold;
                            padding: 1rem 0;

                            &::after {
                                content: '';
                                position: absolute;
                                left: 0;
                                bottom: 20px;
                                width: 1px;
                                height: 20px;
                                transition: all 0.5s;
                                z-index: -1;
                            }

                            &:hover {
                                &::after {
                                    width: 100%;
                                    background: yellow;
                                }
                            }
                        }
                    }
                }

                .nav_copy {
                    margin-top: 3.75rem;

                    li {
                        display: inline-block;
                        color: $mainColor;
                        margin: 0 5px;

                        a {}
                    }
                }
            }
        }
    }
}

footer{
    .footer_wrap{
        background-color:#252525;
        text-align: center;
        padding:40px 0;
        .address{
            color:#bbb;
            ul{
                li{
                    display:inline-block;
                    a{
                        color:#bbb;
                    }
                }
            }
        }
        .copyright{
            color:#777;
            margin-top:20px;
        }
    }
}

header.scrolled {
    transition: all 0.3s;
    background-color: white;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, .2);
}

.stop-scrolling{
    height:100%;
    overflow:hidden;
}

// 탑버튼

#top_area{
    position: fixed;
    right:60px;
    bottom:60px;
    z-index: 100;
    button{
        display:block;
        width:40px;
        height:40px;
        line-height:40px;
        background-color:#fff;
        font-size:1.6rem;
        border-radius: 50%;
        vertical-align: middle;
        text-align: center;
        margin-top:10px;
        &:hover{background-color:black !important; color:#fff;}
    }
    #send_btn{
        background-color:$mainColor; color:#fff;
    }
}