$mainColor:#00a8a1 !default;
$white:#fff;
$black:#000;
$bold:'NSG B';
$medium:'NSG M';
$light:'NSG L';

#wrap {
    width: 100%;
    height: 100%;

    section {
        height: 100%;

        .main_visual {
            position: relative;
            width: 100%;
            overflow: hidden;

            .left_txt {
                position: absolute;
                left: 60px;
                top: 180px;
                z-index: 50;
                color: $white;

                span {
                    display: block;
                    font-size: 1.5rem;
                }
            }

            .bottom_anchor {
                position: absolute;
                bottom: 60px;
                left: 60px;
                background: rgba(0, 0, 0, .7);
                padding: 8px 16px;
                border-radius: 10px;
                z-index: 50;

                ul {
                    li {
                        display: inline-block;
                        padding: 0 2.5rem;

                        a {
                            color: $white;
                            font-size: 1.125rem;

                            span {
                                position: relative;
                                display: block;
                                font-size: 1rem;

                                &::after {
                                    content: '┐';
                                    padding-left: 10px;
                                    clear: both;
                                    display: inline-block;

                                }
                            }

                            &:hover {
                                color: $mainColor;
                            }
                        }
                    }
                }
            }

            .swiper {
                .swiper-wrapper {
                    .swiper-slide {
                        .main_visual_txt {
                            p {
                                font-size: 2rem;
                            }

                            a {
                                margin-top: 1.25rem;
                            }
                        }
                    }
                }
            }
        }
    }

    section.sticky_section {
        position: sticky;
        height: 100%;

        div {
            height: 100vh;
            display: flex;
            align-items: center;

            div {
                display: flex;
                flex-wrap: wrap;
                width: 50%;
                align-items: center;
                justify-content: center;
            }

            .content_bg {
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;

                h3 {
                    color: $white;
                    font-size: 6rem;
                    font-family: $light;
                }
            }

            .content_txt {
                h3 {
                    display: block;
                    width: 100%;
                    font-size: 2rem;
                    text-align: center;
                }

                span {}

                p {
                    text-align: center;
                    font-size: 1.2rem;
                    line-height: 1.6;
                }
            }
        }
    }
}