#wrap .visual_section .main_visual {
  position: relative;
  width: 100%;
  overflow: hidden;
}

#wrap .visual_section .main_visual .left_txt {
  position: absolute;
  left: 60px;
  top: 150px;
  z-index: 50;
  color: #fff;
  font-family: 'NSF R';
}

#wrap .visual_section .main_visual .left_txt span {
  display: block;
  font-size: 1.75rem;
}

#wrap .visual_section .main_visual .bottom_anchor {
  position: absolute;
  bottom: 50px;
  left: 60px;
  padding: 8px 0;
  border-radius: 10px;
  z-index: 50;
}

#wrap .visual_section .main_visual .bottom_anchor ul li {
  display: inline-block;
  margin-right: 5rem;
}

#wrap .visual_section .main_visual .bottom_anchor ul li a {
  color: #fff;
  font-size: 1.125rem;
}

#wrap .visual_section .main_visual .bottom_anchor ul li a span {
  position: relative;
  display: block;
  font-size: 1rem;
}

#wrap .visual_section .main_visual .bottom_anchor ul li a span::after {
  content: '';
  background: url("../../img/common/button/down_arr.png") no-repeat;
  width: 14px;
  height: 8px;
  background-position: right center;
  padding-left: 10px;
  clear: both;
  display: inline-block;
  -webkit-filter: brightness(100);
          filter: brightness(100);
}

#wrap .visual_section .main_visual .bottom_anchor ul li a:hover {
  color: #47f7f0;
}

#wrap .visual_section .main_visual .bottom_anchor ul li a:hover span::after {
  -webkit-filter: none;
          filter: none;
}

#wrap .visual_section .main_visual .swiper .swiper-wrapper .swiper-slide .main_visual_txt p {
  font-size: 3.125rem;
}

#wrap .visual_section .main_visual .swiper .swiper-wrapper .swiper-slide .main_visual_txt a {
  margin-top: 0.625rem;
}

#wrap section.sticky_section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#wrap section.sticky_section div div {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#wrap section.sticky_section div .content_bg {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

#wrap section.sticky_section div .content_bg h3 {
  color: #fff;
  font-size: 6rem;
  font-family: "NSG L";
}

#wrap section.sticky_section div .content_txt {
  min-height: 100%;
}

#wrap section.sticky_section div .content_txt h3 {
  position: relative;
  top: 4px;
  display: block;
  width: 100%;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 60px;
  padding-bottom: 60px;
}

#wrap section.sticky_section div .content_txt h3::after {
  content: '';
  clear: both;
  display: block;
  width: 80px;
  height: 2px;
  background-color: #00a8a1;
  position: absolute;
  left: 50%;
  top: 100%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#wrap section.sticky_section div .content_txt p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.6;
}

#wrap section.sticky_section div .content_txt a {
  font-size: 1rem;
  color: #00a8a1;
  border-bottom: 1px solid #00a8a1;
  margin-top: 60px;
}

#wrap .qna_section .qna_wrap {
  background-color: #e5f6f5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 140px 5%;
}

#wrap .qna_section .qna_wrap .img_wrap {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  height: 100%;
}

#wrap .qna_section .qna_wrap .img_wrap .img_title h3 {
  font-size: 2.5rem;
  position: relative;
  margin: 0 0 40px 0;
  z-index: 2;
}

#wrap .qna_section .qna_wrap .img_wrap .img_title h3 > span {
  display: inline-block;
  position: relative;
}

#wrap .qna_section .qna_wrap .img_wrap .img_title h3 ::before {
  content: '';
  clear: both;
  display: block;
  position: absolute;
  left: 0;
  bottom: 3px;
  width: 100%;
  height: 10px;
  background: yellow;
  z-index: -1;
}

#wrap .qna_section .qna_wrap .img_wrap .img_box {
  position: relative;
  text-align: center;
}

#wrap .qna_section .qna_wrap .img_wrap .img_box img:not(.qna_title_img) {
  position: absolute;
  opacity: 0;
  -webkit-animation: opacityImg infinite 3s;
          animation: opacityImg infinite 3s;
}

#wrap .qna_section .qna_wrap .img_wrap .img_box img:not(.qna_title_img):nth-child(1) {
  top: 75px;
  left: 90px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

#wrap .qna_section .qna_wrap .img_wrap .img_box img:not(.qna_title_img):nth-child(2) {
  top: 30px;
  left: 45px;
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

#wrap .qna_section .qna_wrap .img_wrap .img_box img:not(.qna_title_img):nth-child(3) {
  top: 15px;
  left: 120px;
  -webkit-animation-delay: 1.5s;
          animation-delay: 1.5s;
}

#wrap .qna_section .qna_wrap .img_wrap .img_box img:not(.qna_title_img):nth-child(4) {
  top: 120px;
  left: 15px;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}

#wrap .qna_section .qna_wrap .img_wrap .img_box img:not(.qna_title_img):nth-child(5) {
  top: 150px;
  left: 90px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}

#wrap .qna_section .qna_wrap .img_wrap .img_box img.on {
  opacity: 1;
}

#wrap .qna_section .qna_wrap .txt_wrap {
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
}

#wrap .qna_section .qna_wrap .txt_wrap .txt_01 p {
  font-size: 1.25rem;
  line-height: 2;
}

#wrap .qna_section .qna_wrap .txt_wrap .txt_02 {
  margin-top: 3.125rem;
}

#wrap .qna_section .qna_wrap .txt_wrap .txt_02 p {
  font-size: 1.5rem;
}

#wrap .qna_section .qna_wrap .txt_wrap .txt_02 p span {
  color: #00a8a1;
}

#wrap .last_banner_section .last_banner_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#wrap .last_banner_section .last_banner_wrap > div {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  text-align: center;
  padding: 80px 0;
  color: white;
}

#wrap .last_banner_section .last_banner_wrap > div h3 {
  font-size: 2rem;
  margin: 0;
}

#wrap .last_banner_section .last_banner_wrap > div p {
  font-size: 1.25rem;
  margin-top: 40px;
  line-height: 2;
}

#wrap .last_banner_section .last_banner_wrap > div a {
  font-size: 1.125rem;
  margin-top: 40px;
  padding: 12px 60px;
  border: 2px solid white;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#wrap .last_banner_section .last_banner_wrap > div a:hover {
  background-color: white;
}

#wrap .last_banner_section .last_banner_wrap .left_banner {
  background-color: #32343b;
}

#wrap .last_banner_section .last_banner_wrap .left_banner a:hover {
  color: #32343b !important;
}

#wrap .last_banner_section .last_banner_wrap .right_banner {
  background-color: #00a8a1;
}

#wrap .last_banner_section .last_banner_wrap .right_banner a:hover {
  color: #00a8a1 !important;
}

@-webkit-keyframes opacityImg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
}

@keyframes opacityImg {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  10% {
    opacity: 1;
  }
}
/*# sourceMappingURL=main.css.map */